%header
  %h1
    DotCloud Twilio Demo
  %a{:href => 'http://dotcloud.com'}
    %img{:src => 'images/logo.png'}
  %aside
    %a{:href => 'http://bit.ly/nHu1dr'}View Source
%br/
.sms
  = haml :text
.footer
  = haml :footer
